<div class="pb-4 bg">
    <h1 class="text-center sk pt-3">Skills</h1><br><br>
    <div class="center">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>
                 <p class="bold">Languages</p>
                 <ul>
                     <li>Python </li>
                     <li>Java</li>
                     <li>C++</li>
                     <li>Javascript</li>
                     <li>Typescript</li>
                     <li>HTML</li>
                     <li>CSS</li>
                     <li>SQL</li>
                 </ul>
                </li> 
             </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>
                 <p class="bold">Frameworks</p>
                 <ul>
                     
                     
                     <li>Angular </li>
                     <li>Spring-Boot </li>
                     <li>Node.js </li>
                     <li>Bootstrap</li>
                     
                     <li>TensorFlow</li>
                 </ul>
                </li> 
             </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>
                 <p class="bold">Databases</p>
                 <ul>
                     
                     <li>MySql</li>
                     
                     <li>SQL</li>
                     
                     <li>PostgresSql</li>
                    
                 </ul>
                </li> 
             </ul>
        </div>
    </div>
    <br>
    <div class="center others">
        <ul>
            <li>Data Strucutures and Algorithms</li>
            <li>Problem Solving</li>
            <li>API Design and Development</li>
            <li>Git & Github</li>
        </ul>
    </div>
    
</div>
</div>

