<div class="bg">

<h1 class="sk text-center">Contact</h1>

<div class="row center">
    <div class="center">

    

        <div class="card center">
            <a style="text-decoration: none;" href="mailto:ankireddymanoj162@gmail.com">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-solid fa-envelope fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important;" class="col-11 text-center">
                         ankireddymanoj162@gmail.com
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="https://www.linkedin.com/in/manoj-ankireddy-b707401a0/">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-brands fa-linkedin fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Linkedin
                    </div>
                </div>

            </a>
        </div>

        <div class="card center">
            <a style="text-decoration: none;" href="https://github.com/Manojreddy-2k">
                <div class="row">
                    <div class=" col-1 text-left" style="background-color: #424243 !important; z-index: 9999;">
                        <span style="text-align: left;background-color: #424243 !important;"><i
                                class="fa-brands fa-github fa-2xl"
                                style="color: #ffffff;background-color: #424243 !important;"></i></span>
                    </div>
                    <div style="background-color: #424243 !important" class="col-11 text-center">
                        Github
                    </div>
                </div>

            </a>
        </div>

        

        

        

        

    </div>

</div>
</div>
