<div class="px-5 bg">
    <h1 class="text-center sk">About</h1><br><br>
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-lg-6 pb-4">
            <p style="font-size: 20px;"><span class="sk" style="font-size: 40px;">Hello,</span> <br>
                Hi, I'm Manoj Ankireddy, a graduate student in Computer Science at the University of Kansas, passionate about software development, machine learning, and full-stack web development. With a background in Data Structures and Algorithms, computer vision, deep learning, and data privacy.

I have industry experience as a Software Engineer at Infosys, where I contributed to database migration and automation solutions, as well as a Machine Learning internship at Dhaapps. My expertise spans backend technologies (Node.js, Spring Boot), frontend frameworks (React, Angular), and AI/ML frameworks (TensorFlow, PyTorch).

Beyond my technical skills, I have a strong passion for teaching and mentoring, having worked as a Graduate Teaching Assistant for programming courses and streamlined student grading processes with automation.

When I'm not coding, I enjoy playing table tennis, designing creative content, and exploring new technologies. I'm always looking for new challenges and opportunities to create impactful solutions.

Feel free to explore my work and reach out.Let’s build something amazing together!
            </p><br>
            <a type="button" href="https://manojreddy-2k.github.io/resume/Manoj_ankireddy_Resume.pdf
            " target="_blank"
                class="btn btn-outline-light dwnldBtn">Download CV &nbsp;<span
                    class="material-symbols-outlined download">
                    download
                </span></a>
            </div>
        <div class="col-lg-6 pb-4">
            <div class="image-cropper">
                <img class="image" src="/Manoj_portfolio/assets/image.png" alt="">

            </div>
        </div>
    </div>
</div>