
<div class="bg">

<h1 class="sk text-center">Work Experience</h1><br>
<div class="center">

<div class="timeline center">
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Software Engineer
            <p>
                <time class="tl-time" datetime="2023-06-20">
                    June 2022 - July 2023 
                </time>
        </div>
        <div class="tl-body">
            <p>
                Infosys

            </p>
        </div>
    </div>
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Machine Learning Intern
            <p>
                <time class="tl-time" datetime="2023-06-18">
                    May 2021 - July 2021
                </time>
        </div>
        <div class="tl-body">
            <p>
                Dhaapps
            </p>
        </div>
    </div>
    
    <div class="tl-content">
        <div class="tl-header">
            <span class="tl-marker"></span>
            <p class="tl-title">
                Graduate Teaching Assistant
            <p>
                <time class="tl-time" datetime="2023-06-18">
                    Aug 2024 - present
                </time>
        </div>
        <div class="tl-body">
            <p>
                University of Kansas
            </p>
        </div>
    </div>
</div>
</div>

</div>

